<h3>Welcome to sLearning</h3>
<p>The slearning platform is a great resource for learning and teaching.
</p>
<a class="button" href="/users/register">Sign Up Free</a>
<p>Please sign-up to register for class</p>
