<h3>Welcome to sLearning</h3>
<p>The slearning platform is a great resource for learning and teaching through videos, reading, and practice.
    Instructors can create courses and students can register for courses after signing up for an account.
    All courses include assignments, quizes and a support forum.
</p>
<a class="button" href="/users/signup">Sign Up Free</a>
<p>Please sign-up to register for class</p>
