<h3>Welcome To Shawn's Learning Platform</h3>
	<p>
	Shawn's Learning Platform is a free online learning platform. Instructors can create courses and students can register for courses which include assignments, quizes and support forums.
	</p>
	<a class="button" href="/users/register">Sign Up Free</a>
	<P>You need to signup in order to register for classes</p>